In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from pandas import read_csv
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor

### Prueba.csv

In [2]:
dataframe = pd.read_csv("pruebas.csv",sep = ";")
dataframe.head()

,id,holanda,hombre,primero,ultimo,frec,web,res,gasto,envio,utilidad,ganancia
0,1,1,1,2677,2677,1,0,0,0.00,12.5,-12.500,0
1,2,1,1,1008,520,2,1,0,211.50,12.5,29.800,1
2,3,1,0,3249,3249,1,0,0,0.07,12.5,-12.486,0
3,4,1,1,2675,2675,1,0,0,29.50,12.5,-6.600,0
4,5,0,1,1322,1322,1,0,0,0.00,12.5,-12.500,0

In [3]:
dataframe.shape

(1700, 12)

In [4]:
dataframe.describe()

,id,holanda,hombre,primero,ultimo,frec,web,res,gasto,envio,utilidad,ganancia
count,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.0,1700.000000,1700.000000
mean,850.500000,0.831176,0.520588,2452.840000,2175.742353,1.412353,0.424706,0.224118,101.146276,12.5,7.729255,0.412941
std,490.892045,0.374706,0.499723,1074.358693,1143.964440,1.425394,0.494444,0.417123,185.583795,0.0,37.116759,0.492507
min,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,12.5,-12.500000,0.000000
25%,425.750000,1.000000,0.000000,1688.250000,1154.000000,1.000000,0.000000,0.000000,0.000000,12.5,-12.500000,0.000000
50%,850.500000,1.000000,1.000000,2733.500000,2312.000000,1.000000,0.000000,0.000000,0.135000,12.5,-12.473000,0.000000
75%,1275.250000,1.000000,1.000000,3356.750000,3159.000000,2.000000,1.000000,0.000000,152.500000,12.5,18.000000,1.000000
max,1700.000000,1.000000,1.000000,4188.000000,4188.000000,15.000000,1.000000,1.000000,1500.060000,12.5,287.512000,1.000000

In [5]:
X = np.array(dataframe.drop(["id","ganancia","utilidad","envio","holanda","hombre","gasto"],1))
y = np.array(dataframe["ganancia"])
X.shape

(1700, 5)

### Prueba2.csv

In [6]:
df = pd.read_csv("pruebas2.csv",sep = ";")
df.head()

     id  holanda  frec  ultimo  primero  web  hombre  res
0  1701        1     1    2746     2837    0       1    0
1  1702        0     2    1865     1871    1       0    1
2  1703        0     0    2984     2984    1       0    0
3  1704        1     5     216     2758    1       1    1
4  1705        1     1    1269     1269    1       0    0

In [7]:
mat = np.array(df.drop(["id","holanda","hombre"],1))

In [8]:
mat.shape

(300, 5)

### Regresión Logística

In [9]:
model = linear_model.LogisticRegression(C=0.1, max_iter=175)
model.fit(X,y)

LogisticRegression(C=0.1, max_iter=175)

In [10]:
predictions = model.predict(X)

In [11]:
print(predictions)

[0 1 0 ... 0 0 0]

In [12]:
model.score(X,y)

0.7623529411764706

In [13]:
accuracy_score(y, predictions)

0.7623529411764706

In [14]:
pred = model.predict(mat)

In [15]:
print(pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1]

In [16]:
df_1 = df.assign(ganancia = pred)

In [17]:
df_1[df_1["ganancia"]==0]

Empty DataFrame
Columns: [id, holanda, frec, ultimo, primero, web, hombre, res, ganancia]
Index: []

### Clasificador Random Forest

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [19]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1530, 5) (170, 5) (1530,) (170,)

In [20]:
# fit the model
modelo = RandomForestClassifier(random_state=1)
modelo.fit(X_train, y_train)

RandomForestClassifier(random_state=1)

In [21]:
# make predictions
yhat = modelo.predict(X_test)
# evaluate predictions
acc = accuracy_score(y_test, yhat)
print('Accuracy: %.3f' % acc)

Accuracy: 0.806

In [22]:
# evaluate predictions
mae = mean_absolute_error(y_test, yhat)
print('MAE: %.3f' % mae)

MAE: 0.194

In [23]:
yhat.shape

(170,)

In [24]:
# Se hacen predicciones para el segundo archivo
yhat_2 = modelo.predict(mat)

In [25]:
df_2 = df.assign(ganancia = yhat_2)

In [26]:
df_2[df_2["ganancia"]==0]

       id  holanda  frec  ultimo  primero  web  hombre  res  ganancia
71   1772        1     2    1837     1849    1       0    1         0
92   1793        1     4    1856     3694    1       0    1         0
99   1800        1     0    3680     3680    1       0    0         0
133  1834        1     1    3660     3660    1       1    0         0
204  1905        1     3    1809     1925    1       1    1         0
259  1960        1     3    3662     3691    1       0    0         0

In [27]:
df_2

       id  holanda  frec  ultimo  primero  web  hombre  res  ganancia
0    1701        1     1    2746     2837    0       1    0         1
1    1702        0     2    1865     1871    1       0    1         1
2    1703        0     0    2984     2984    1       0    0         1
3    1704        1     5     216     2758    1       1    1         1
4    1705        1     1    1269     1269    1       0    0         1
..    ...      ...   ...     ...      ...  ...     ...  ...       ...
295  1996        0     1    1416     1416    0       0    0         1
296  1997        1     1    1991     2004    0       0    0         1
297  1998        1     2    1710     1743    0       1    1         1
298  1999        1     4     871     3746    0       1    0         1
299  2000        1     4     463      772    0       0    1         1

[300 rows x 9 columns]

### Regresión Random Forest

In [28]:
X_1 = np.array(dataframe.drop(["id","ganancia","utilidad","envio","holanda","hombre","gasto"],1))
y_1 = np.array(dataframe["gasto"])
X_1.shape

(1700, 5)

In [29]:
# split into train test sets
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size=0.1, random_state=0)
print(X_train_1.shape, X_test_1.shape, y_train_1.shape, y_test_1.shape)

(1530, 5) (170, 5) (1530,) (170,)

In [30]:
# fit the model
mod = RandomForestRegressor(random_state=1)
mod.fit(X_train_1, y_train_1)

RandomForestRegressor(random_state=1)

In [31]:
# make predictions
yhat_3 = mod.predict(X_test_1)

In [32]:
# evaluate predictions
mae_1 = mean_absolute_error(y_test_1, yhat_3)
print('MAE: %.3f' % mae_1)

MAE: 55.343

In [33]:
# Se hacen predicciones para el segundo archivo
yhat_4 = mod.predict(mat)

In [34]:
df_3 = df.assign(gasto = yhat_4,utilidad = (yhat_4*0.2)-12.5)

In [35]:
df_3

,id,holanda,frec,ultimo,primero,web,hombre,res,gasto,utilidad
0,1701,1,1,2746,2837,0,1,0,1162.5569,220.01138
1,1702,0,2,1865,1871,1,0,1,706.8071,128.86142
2,1703,0,0,2984,2984,1,0,0,1137.6745,215.03490
3,1704,1,5,216,2758,1,1,1,708.1670,129.13340
4,1705,1,1,1269,1269,1,0,0,1119.3822,211.37644
...,...,...,...,...,...,...,...,...,...,...
295,1996,0,1,1416,1416,0,0,0,1124.8365,212.46730
296,1997,1,1,1991,2004,0,0,0,1159.7269,219.44538
297,1998,1,2,1710,1743,0,1,1,723.0918,132.11836
298,1999,1,4,871,3746,0,1,0,1162.2606,219.95212
299,2000,1,4,463,772,0,0,1,731.3861,133.77722

### Resultados

In [44]:
print('Utilidad unitaria esperada: %.2f' % df_3["utilidad"].mean())
print('Utilidad esperada: %.2f' % df_3["utilidad"].sum())
print('Gasto unitaria esperada: %.2f' % df_3["gasto"].mean())
print('Gasto esperada: %.2f' % df_3["gasto"].sum())

Utilidad unitaria esperada: 200.02
Utilidad esperada: 60006.16
Gasto unitaria esperada: 1062.60
Gasto esperada: 318780.79